@using Orchard.Mvc.Html
@using Orchard.ContentManagement
@using Orchard.Utility.Extensions
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var tag = Tag(Model, "article");

    var bookPart = Model.ContentItem.BookPart;
    var author = (bookPart.AuthorFirstName.Value + " " + bookPart.AuthorLastName.Value).Trim();
    var illustrator = (bookPart.IllustratorFirstName.Value + " " + bookPart.IllustratorLastName.Value).Trim();
    var awardsYear = bookPart.AwardsYear.Value;
    var category = bookPart.Category.Value;

    var award = bookPart.Winner.Value ? "Winner" :
        bookPart.Honours.Value ? "Honours" :
        bookPart.Shortlisted.Value ? "Shortlisted" : "";
        
    var byLine = "";
    if (String.IsNullOrWhiteSpace(author) || String.IsNullOrWhiteSpace(illustrator))
    {
        // only one
        if (String.IsNullOrWhiteSpace(author))
        {
            byLine = illustrator;
        }
        else
        {
            byLine = author;
        }
    }
    else // both
    {
        if (bookPart.Category.Value == "Picture Book")
        {
            byLine = illustrator + " (text: " + author + ")";
        }
        else
        {
            byLine = author + " (illust: " + illustrator + ")";
        }
    }

    string publisher = "";
    var terms = bookPart.Publisher.Terms;
    if (terms != null && terms.Count > 0)
    {
        publisher = terms[0].Name;
    }

}

<div class="container">
    <div class="row">
        <div class='book-detail col-lg-12'>
            <h1>
                @Model.ContentItem.TitlePart.Title
            </h1>

            <table>
                <tr>
                    <td class="image">
                        <img src="@bookPart.CoverImage.FirstMediaUrl" />
                    </td>
                    <td class="detail">
                        <div class="byLine">
                            @byLine
                        </div>
                        <div class="publisher">
                            @publisher
                        </div>
                        <div class="isbn">
                            ISBN: @bookPart.ISBN.Value
                        </div>
                        <div class="gongs @award">
                            @award @awardsYear @category
                        </div>

                        @if (bookPart.Summary != null)
                        {
                            <div class="summary">
                                @bookPart.Summary.Value
                            </div>
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
