@using Orchard.Core.Title.Models
@using Orchard.Core.Common.Models
@using Orchard.Utility.Extensions
@using Orchard.MediaLibrary.Fields
@using Orchard.ContentManagement
@using Cascade.WebShop.Models

@{

    var contentItem = Model.ContentItem;
    TitlePart titlePart = contentItem.TitlePart;
    BodyPart bodyPart = contentItem.BodyPart;
    MediaLibraryPickerField image = contentItem.Service.Image;
    ProductPart productPart = contentItem.ProductPart;

    // from Bertrand: someContentItem.ThePartThatHasTheField.TheField.TheNameOfThePropertyYouWantToAccess

    var productId = (int)contentItem.Id;

    string bodyHtml = bodyPart.Text;
    var more = bodyHtml.IndexOf("<!--more-->");
    if (more != -1)
    {
        bodyHtml = bodyHtml.Substring(0, more);
    }
    else
    {
        var firstP = bodyHtml.IndexOf("<p>");
        var firstSlashP = bodyHtml.IndexOf("</p>");
        if (firstP >= 0 && firstSlashP > firstP)
        {
            bodyHtml = bodyHtml.Substring(firstP, firstSlashP + 4 - firstP);
        }
    }
    var body = new HtmlString(bodyHtml);
}

@* ------------------------------------------------------------------- *@

<table>
    <caption>@Html.ItemDisplayLink(titlePart.Title, (ContentItem)contentItem)</caption>
    <tr>
        <td>
            <a href="@Url.ItemDisplayUrl((ContentItem)contentItem)">
                <img src="@image.FirstMediaUrl" alt="" />
            </a>
        </td>
        <td>
            <p>@Html.ItemDisplayLink(productPart.Sku, (ContentItem)contentItem)</p>
            <div>@body</div>
            <p>@Html.ItemDisplayLink(T("Details...").ToString(), (ContentItem)contentItem)</p>

            <p>Price: @productPart.UnitPrice.ToString("c")</p>
        </td>
    </tr>
</table>
